# JetBrains IDE
.idea/

#Local Log
assistant.log

# Local Audio Storage Files
# These are produced by the listener
prompt.wav
wake_detect.wav
audio/

# Python Virtual Environment - Makefile creates this
.venv/